$color-nav-hover: rgb(24, 167, 233);
.item_wrap {
	border: 1px solid rgb(213, 214, 209);
	overflow-y: scroll;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 0;
	/* Let's get this party started */
	&::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		// -webkit-border-radius: 10px;
		// border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		// -webkit-border-radius: 10px;
		// border-radius: 10px;
		background: rgba(117, 115, 115, 0.4);
		// -webkit-box-shadow: inset 0 0 6px rgba(22, 21, 21, 0.4);
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(83, 83, 83, 0.8);
	}
}

.pagination_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item_class {
	border-radius: 15px;
	background-color: transparent;
	&:hover {
		color: #ffffff;
		background-color: $color-nav-hover;
	}
}
