.color_btn {
	border-color: transparent;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 10px;
}
#red {
	background-color: red;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}
#yellow {
	background-color: yellow;
}
#brown {
	background-color: brown;
}
#pink {
	background-color: pink;
}
#black {
	background-color: black;
}


#aqua{
	background-color: aqua;
}

#less_yellow{
	background-color: rgb(241, 241, 44);
}

#less_green{
	background-color: rgb(152, 253, 152);
}

#less_pink{
	background-color: rgb(253, 230, 234);
}

#less_orange{
	background-color: rgb(255, 184, 51);
}

#burlywood{
	background-color: burlywood;
}

