.forgot_password {
	position: absolute;
	top: 30vh;
	left: 40vw;
	.forgot_form {
		// width: 300px;
		padding: 50px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.reset_password {
	position: absolute;
	top: 30vh;
	left: 40vw;
	.reset_form {
		// width: 300px;
		padding: 50px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
