// .text-weight {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-around;
// }
.comment-filter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	#txt_color {
		width: 50px;
	}
}
